$blue: maroon;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-md: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$border-radius-xxl: 0;


@import '../node_modules/bootstrap/scss/bootstrap';
@import 'fitness';


button {
    color: $blue;
}

